In [1]:
import os
import urllib.request 
os.chdir('/home/cj/Documents/dsi/capstones/report-card-recession')
from src.constants import *
os.chdir('/media/cj/HAMMERSPACE/bls_files/')
import pandas as pd
import chardet

# https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/asrh/cc-est2019-agesex-01.csv

In [2]:
column_list = ['area_fips', 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
zeros = '{:<06}'

In [3]:
urllib.request.urlretrieve('https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/totals/co-est2019-alldata.csv', 'test.csv')
df_2010 = pd.read_csv('test.csv', encoding = 'ISO-8859-1')
df_2010['area_fips'] = df_2010['STATE'].apply(lambda x: str(x).zfill(2)) + df_2010['COUNTY'].apply(lambda x: str(x).zfill(3))

In [4]:
df_2010.rename(columns = {'POPESTIMATE2010': 2010, 'POPESTIMATE2011': 2011, 'POPESTIMATE2012': 2012, 'POPESTIMATE2013': 2013, 'POPESTIMATE2014': 2014,'POPESTIMATE2015': 2015, 'POPESTIMATE2016': 2016, 'POPESTIMATE2017': 2017, 'POPESTIMATE2018': 2018, 'POPESTIMATE2019': 2019}, inplace = True)

In [5]:
df_2010 = df_2010[['area_fips', 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]]

In [6]:
df_2010.set_index('area_fips', inplace = True)
df_2010

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
area_fips,,,,,,,,,,
01000,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
01001,54773,55227,54954,54727,54893,54864,55243,55390,55533,55869
01003,183112,186558,190145,194885,199183,202939,207601,212521,217855,223234
01005,27327,27341,27169,26937,26755,26283,25806,25157,24872,24686
01007,22870,22745,22667,22521,22553,22566,22586,22550,22367,22394
...,...,...,...,...,...,...,...,...,...,...
56037,43574,43986,45002,45157,44948,44719,44222,43464,42858,42343
56039,21296,21414,21624,22315,22773,23047,23234,23384,23269,23464
56041,21089,20896,20996,20951,20822,20763,20682,20431,20292,20226
56043,8530,8449,8409,8413,8273,8278,8165,8010,7877,7805
56045,7198,7142,7077,7136,7138,7208,7220,6968,6924,6927

In [7]:
urllib.request.urlretrieve('http://www2.census.gov/programs-surveys/popest/datasets/2000-2010/intercensal/county/co-est00int-tot.csv', 'test.csv')
df_2000 = pd.read_csv('test.csv', encoding = 'ISO-8859-1')
df_2000['area_fips'] = df_2000['STATE'].apply(lambda x: str(x).zfill(2)) + df_2000['COUNTY'].apply(lambda x: str(x).zfill(3))
df_2000.rename(columns = {'POPESTIMATE2000': 2000, 'POPESTIMATE2001': 2001, 'POPESTIMATE2002': 2002, 'POPESTIMATE2003': 2003, 'POPESTIMATE2004': 2004,'POPESTIMATE2005': 2005, 'POPESTIMATE2006': 2006, 'POPESTIMATE2007': 2007, 'POPESTIMATE2008': 2008, 'POPESTIMATE2009': 2009}, inplace = True)
df_2000 = df_2000[['area_fips', 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009]]
df_2000.set_index('area_fips', inplace = True)

In [8]:
urllib.request.urlretrieve('https://www2.census.gov/programs-surveys/popest/tables/1990-2000/estimates-and-change-1990-2000/2000c8_00.txt', '1990.txt')

('1990.txt', <http.client.HTTPMessage at 0x7f021d76d100>)

In [9]:
keeprows = [17]
# skiprows.extend(list(range(0,18)))
keeprows.extend(list(range(19, 3212)))
skiprows = [x for x in range(0, 32009) if x not in keeprows]
df_1990 = pd.read_fwf('1990.txt', skiprows = skiprows, delim_whitepace = True)
df_1990
zeros = '{:<06}'
df_1990['area_fips'] = df_1990['County'].apply(lambda x: zeros.format(x[2:]))
df_1990
df_1990.iloc[0,14] = 'US000'
df_1990.set_index('area_fips', inplace = True)
df_1990.drop(columns = ['4/1/1990', 'Area Name', 'County', '7/1/2000'], inplace = True)
df_1990.rename(columns = {'7/1/1990': 1990, '7/1/1991': 1991, '7/1/1992': 1992, '7/1/1993': 1993, '7/1/1994': 1994, '7/1/1995': 1995, '7/1/1996': 1996, '7/1/1997': 1997, '7/1/1998': 1998, '7/1/1999': 1999}, inplace = True)
df_1990

,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
area_fips,,,,,,,,,,
US000,"272,787,485","270,334,431","267,846,741","265,300,335","262,876,514","260,401,091","257,857,622","255,104,027","252,208,537","249,470,539"
01000,"4,369,224","4,350,594","4,320,692","4,290,678","4,263,125","4,233,214","4,193,639","4,139,880","4,091,397","4,048,526"
01001,"43,021","42,156","41,280","40,241","39,140","38,208","36,969","35,995","35,016","34,354"
01003,"135,671","132,798","128,760","124,243","119,947","115,823","110,872","106,234","102,228","98,918"
01005,"26,713","26,914","26,739","26,853","26,654","26,779","26,634","26,437","26,229","25,452"
...,...,...,...,...,...,...,...,...,...,...
56037,"39,478","39,767","39,786","40,179","40,633","40,595","40,552","40,347","39,776","38,828"
56039,"14,548","14,194","13,893","13,585","13,348","13,095","12,825","12,197","11,784","11,269"
56041,"20,336","20,419","20,275","20,228","20,128","20,125","19,729","19,578","19,157","18,649"
56043,"8,535","8,685","8,618","8,545","8,573","8,534","8,490","8,446","8,305","8,366"
56045,"6,401","6,499","6,514","6,584","6,567","6,572","6,493","6,572","6,479","6,499"

lookup = {1980: {'00000': [26, 26],
  '01000': [27, 94],
  '02000': [170, 213],
  '04000': [262, 277],
  '05000': [300, 375],
  '06000': [458, 520],
  '08000': [590, 653],
  '09000': [724, 732],
  '10000': [748, 751],
  '11000': [762, 763],
  '12000': [772, 839],
  '13000': [914, 1074],
  '15000': [1242, 1247],
  '16000': [1260, 1304],
  '17000': [1356, 1458],
  '18000': [1568, 1660],
  '19000': [1760, 1860],
  '20000': [1968, 2073],
  '21000': [2186, 2306],
  '22000': [2434, 2508],
  '23000': [2590, 2606],
  '24000': [2630, 2655],
  '25000': [2688, 2702],
  '26000': [2724, 2808],
  '27000': [2900, 2990],
  '28000': [3088, 3171],
  '29000': [3262, 3379],
  '30000': [3504, 3564],
  '31000': [3632, 3725],
  '32000': [3826, 3843],
  '33000': [3868, 3878],
  '34000': [3896, 3917],
  '35000': [3946, 3979],
  '36000': [4020, 4082],
  '37000': [4152, 4252],
  '38000': [4360, 4414],
  '39000': [4476, 4564],
  '40000': [4660, 4737],
  '41000': [4822, 4858],
  '42000': [4902, 4970],
  '44000': [5046, 5051],
  '45000': [5064, 5110],
  '46000': [5164, 5230],
  '47000': [5304, 5399],
  '48000': [5502, 5758],
  '49000': [6022, 6051],
  '50000': [6088, 6102],
  '51000': [6124, 6278],
  '53000': [6441, 6480],
  '54000': [6527, 6582],
  '55000': [6645, 6717],
  '56000': [6797, 6820]},
 1985: {'00000': [97, 98],
  '01000': [98, 166],
  '02000': [217, 258],
  '04000': [281, 296],
  '05000': [379, 454],
  '06000': [524, 586],
  '08000': [657, 720],
  '09000': [736, 744],
  '10000': [755, 758],
  '11000': [767, 768],
  '12000': [843, 910],
  '13000': [1078, 1238],
  '15000': [1251, 1256],
  '16000': [1308, 1352],
  '17000': [1462, 1564],
  '18000': [1664, 1756],
  '19000': [1864, 1964],
  '20000': [2077, 2182],
  '21000': [2310, 2430],
  '22000': [2512, 2586],
  '23000': [2610, 2626],
  '24000': [2659, 2684],
  '25000': [2706, 2720],
  '26000': [2812, 2896],
  '27000': [2994, 3084],
  '28000': [3175, 3258],
  '29000': [3383, 3500],
  '30000': [3568, 3628],
  '31000': [3729, 3822],
  '32000': [3847, 3864],
  '33000': [3882, 3892],
  '34000': [3921, 3942],
  '35000': [3983, 4016],
  '36000': [4086, 4148],
  '37000': [4256, 4356],
  '38000': [4418, 4472],
  '39000': [4568, 4656],
  '40000': [4741, 4818],
  '41000': [4862, 4898],
  '42000': [4974, 5042],
  '44000': [5055, 5060],
  '45000': [5114, 5160],
  '46000': [5234, 5300],
  '47000': [5403, 5498],
  '48000': [5762, 6018],
  '49000': [6055, 6084],
  '50000': [6106, 6120],
  '51000': [6282, 6437],
  '53000': [6484, 6523],
  '54000': [6586, 6641],
  '55000': [6721, 6793],
  '56000': [6824, 6847]}}

In [16]:
urllib.request.urlretrieve('https://www2.census.gov/programs-surveys/popest/tables/1980-1990/counties/totals/e8089co.txt', '1980.txt')
import fileinput

lookup = {1980:{}, 1985:{}}
with fileinput.FileInput('1980.txt', backup='.bak') as file:
    for line in file:
        if file.lineno() < 24:
            continue
        elif line[26:30] == ' 198':
            year = int(line[27:31])
        elif line[0:5] == '00000':
            continue
            # lookup[year]['00000'] = [file.lineno() - 1, file.lineno()]
        elif line[2:5] == '000':
            current_state = line[0:5]
            lookup[year][current_state] = [file.lineno() - 1]
        elif len(line) == 1:
            lookup[year][current_state].append(file.lineno() - 1)
            current_state = 'error'

lookup[1985]['56000'].append(6847)
lookup

{1980: {'01000': [26, 94],
  '02000': [169, 213],
  '04000': [261, 277],
  '05000': [299, 375],
  '06000': [457, 520],
  '08000': [589, 653],
  '09000': [723, 732],
  '10000': [747, 751],
  '11000': [761, 763],
  '12000': [771, 839],
  '13000': [913, 1074],
  '15000': [1241, 1247],
  '16000': [1259, 1304],
  '17000': [1355, 1458],
  '18000': [1567, 1660],
  '19000': [1759, 1860],
  '20000': [1967, 2073],
  '21000': [2185, 2306],
  '22000': [2433, 2508],
  '23000': [2589, 2606],
  '24000': [2629, 2655],
  '25000': [2687, 2702],
  '26000': [2723, 2808],
  '27000': [2899, 2990],
  '28000': [3087, 3171],
  '29000': [3261, 3379],
  '30000': [3503, 3564],
  '31000': [3631, 3725],
  '32000': [3825, 3843],
  '33000': [3867, 3878],
  '34000': [3895, 3917],
  '35000': [3945, 3979],
  '36000': [4019, 4082],
  '37000': [4151, 4252],
  '38000': [4359, 4414],
  '39000': [4475, 4564],
  '40000': [4659, 4737],
  '41000': [4821, 4858],
  '42000': [4901, 4970],
  '44000': [5045, 5051],
  '45000': [5063, 5110],
  '46000': [5163, 5230],
  '47000': [5303, 5399],
  '48000': [5501, 5758],
  '49000': [6021, 6051],
  '50000': [6087, 6102],
  '51000': [6123, 6278],
  '53000': [6440, 6480],
  '54000': [6526, 6582],
  '55000': [6644, 6717],
  '56000': [6796, 6820]},
 1985: {'01000': [98, 166],
  '02000': [216, 258],
  '04000': [280, 296],
  '05000': [378, 454],
  '06000': [523, 586],
  '08000': [656, 720],
  '09000': [735, 744],
  '10000': [754, 758],
  '11000': [766, 768],
  '12000': [842, 910],
  '13000': [1077, 1238],
  '15000': [1250, 1256],
  '16000': [1307, 1352],
  '17000': [1461, 1564],
  '18000': [1663, 1756],
  '19000': [1863, 1964],
  '20000': [2076, 2182],
  '21000': [2309, 2430],
  '22000': [2511, 2586],
  '23000': [2609, 2626],
  '24000': [2658, 2684],
  '25000': [2705, 2720],
  '26000': [2811, 2896],
  '27000': [2993, 3084],
  '28000': [3174, 3258],
  '29000': [3382, 3500],
  '30000': [3567, 3628],
  '31000': [3728, 3822],
  '32000': [3846, 3864],
  '33000': [3881, 3892],
  '34000': [3920, 3942],
  '35000': [3982, 4016],
  '36000': [4085, 4148],
  '37000': [4255, 4356],
  '38000': [4417, 4472],
  '39000': [4567, 4656],
  '40000': [4740, 4818],
  '41000': [4861, 4898],
  '42000': [4973, 5042],
  '44000': [5054, 5060],
  '45000': [5113, 5160],
  '46000': [5233, 5300],
  '47000': [5402, 5498],
  '48000': [5761, 6018],
  '49000': [6054, 6084],
  '50000': [6105, 6120],
  '51000': [6281, 6437],
  '53000': [6483, 6523],
  '54000': [6585, 6641],
  '55000': [6720, 6793],
  '56000': [6823, 6847]}}

In [11]:
keeprows = [24]
for state in lookup[1980].keys():
    keeprows.extend(list(range(lookup[1980][state][0], lookup[1980][state][1])))


skiprows = [x for x in range(0, 6847) if x not in keeprows]
df_1980 = pd.read_fwf('1980.txt', skiprows = skiprows, delim_whitepace = True)
drop_rows = []
for index, row in df_1980.iterrows():
    if pd.isnull(row['Code']):
        df_1980.iloc[index - 1,1] = df_1980.iloc[index - 1,1] + ' ' + df_1980.iloc[index,1]
        df_1980.iloc[index - 1,2] = df_1980.iloc[index,2]
        df_1980.iloc[index - 1,3] = df_1980.iloc[index,3]
        df_1980.iloc[index - 1,4] = df_1980.iloc[index,4]
        df_1980.iloc[index - 1,5] = df_1980.iloc[index,5]
        df_1980.iloc[index - 1,6] = df_1980.iloc[index,6]
        drop_rows.append(index)
df_1980.drop(drop_rows, axis = 0, inplace= True)
df_1980['area_fips'] = df_1980['Code'].apply(lambda x: str(int(x)).zfill(5))
df_1980 = df_1980.append({'Code': 0, 'Area Name':'U.S. Total', '1980':226542250, '1981':229465744, '1982':231664432, '1983':233792014, '1984':235824908, 'area_fips':'USOOO'}, ignore_index = True)
df_1980.set_index('area_fips', inplace = True)
df_1980.drop(columns = ['Code', 'Area Name'], inplace = True)

df_1980

                  1980         1981         1982         1983         1984
area_fips
01000        3894025.0    3918533.0    3925263.0    3934100.0    3951824.0
01001          32259.0      31985.0      32036.0      32054.0      32134.0
01003          78556.0      80287.0      82331.0      83978.0      86752.0
01005          24756.0      24748.0      24777.0      24798.0      24952.0
01007          15723.0      15836.0      16020.0      15999.0      16089.0
...                ...          ...          ...          ...          ...
56039           9355.0      10018.0      10519.0      10653.0      10556.0
56041          13021.0      16277.0      19720.0      21651.0      22562.0
56043           9496.0       9927.0      10140.0      10009.0      10004.0
56045           7106.0       7507.0       7789.0       7811.0       7853.0
USOOO      226542250.0  229465744.0  231664432.0  233792014.0  235824908.0

[3193 rows x 5 columns]

In [22]:
keeprows = [96]
for state in lookup[1985].keys():
    keeprows.extend(list(range(lookup[1985][state][0], lookup[1985][state][1])))

# keeprows.extend(list(range(27, 94)))
# keeprows.extend(list(range(169, 213)))
# keeprows.extend(list(range(261, 277)))
# keeprows.extend(list(range(299, 375)))
# keeprows.extend(list(range(457, 520)))
# keeprows.extend(list(range(589, 654)))




skiprows = [x for x in range(0, 6847) if x not in keeprows]
df_1985 = pd.read_fwf('1980.txt', skiprows = skiprows, delim_whitepace = True)
drop_rows = []
for index, row in df_1985.iterrows():
    # print(row['Code'])
    # print(df_1985.columns)
    # print(row)
    if pd.isnull(row['Code']):
        df_1985.iloc[index - 1,1] = df_1985.iloc[index - 1,1] + ' ' + df_1985.iloc[index,1]
        df_1985.iloc[index - 1,2] = df_1985.iloc[index,2]
        df_1985.iloc[index - 1,3] = df_1985.iloc[index,3]
        df_1985.iloc[index - 1,4] = df_1985.iloc[index,4]
        df_1985.iloc[index - 1,5] = df_1985.iloc[index,5]
        df_1985.iloc[index - 1,6] = df_1985.iloc[index,6]
        drop_rows.append(index)
df_1985.drop(drop_rows, axis = 0, inplace= True)
df_1985['area_fips'] = df_1985['Code'].apply(lambda x: str(int(x)).zfill(5))
df_1985 = df_1985.append({'Code': 0, 'Area Name':  'U.S. Total', '1985':237923734, '1986':240132831, '1987':242288936, '1988':244499004, '1989':246819222, 'area_fips':'USOOO'}, ignore_index = True)
df_1985.set_index('area_fips', inplace = True)
df_1985.drop(columns = ['Code', 'Area Name'], inplace = True)
df_1985

                  1985         1986         1987         1988         1989
area_fips
01000        3972520.0    3991569.0    4015262.0    4023842.0    4030219.0
01001          32245.0      32893.0      33268.0      33636.0      33996.0
01003          89401.0      91311.0      93214.0      94649.0      96198.0
01005          25002.0      24941.0      25102.0      25230.0      25336.0
01007          16157.0      15918.0      16165.0      16136.0      16360.0
...                ...          ...          ...          ...          ...
56039          10127.0      10054.0      10258.0      10611.0      10971.0
56041          22349.0      22384.0      20881.0      19596.0      19216.0
56043           9760.0       9662.0       9142.0       8856.0       8501.0
56045           7777.0       7593.0       7249.0       6843.0       6677.0
USOOO      237923734.0  240132831.0  242288936.0  244499004.0  246819222.0

[3193 rows x 5 columns]

In [50]:
urllib.request.urlretrieve('https://www2.census.gov/programs-surveys/popest/tables/1900-1980/counties/totals/e7079co.txt', '1970.txt')
import fileinput

lookup = {1970:{}, 1975:{}}
with fileinput.FileInput('1970.txt', backup='.bak') as file:
    for line in file:
        if (file.lineno() <= 27) or (file.lineno() == 29):
            continue
        elif line[26:30] == ' 197':
            year = int(line[27:31])
        elif line[0:5] == '00000':
            continue
            # lookup[year]['00000'] = [file.lineno() - 1, file.lineno()]
        elif line[2:5] == '000':
            current_state = line[0:5]
            # print(file.lineno(), current_state)
            lookup[year][current_state] = [file.lineno()-1]
        elif line[0:4] == 'FIPS':
            # print(file.lineno())
            lookup[year][current_state].append(file.lineno() - 2)
            current_state = 'error'

lookup[1975]['56000'].append(6822)
lookup

{1970: {'01000': [30, 98],
  '02000': [173, 209],
  '04000': [253, 269],
  '05000': [291, 367],
  '06000': [450, 513],
  '08000': [582, 646],
  '09000': [716, 725],
  '10000': [740, 744],
  '11000': [754, 756],
  '12000': [764, 832],
  '13000': [906, 1067],
  '15000': [1234, 1239],
  '16000': [1250, 1295],
  '17000': [1346, 1449],
  '18000': [1558, 1651],
  '19000': [1750, 1851],
  '20000': [1958, 2064],
  '21000': [2176, 2297],
  '22000': [2424, 2497],
  '23000': [2575, 2592],
  '24000': [2615, 2641],
  '25000': [2673, 2688],
  '26000': [2709, 2794],
  '27000': [2885, 2976],
  '28000': [3073, 3157],
  '29000': [3247, 3365],
  '30000': [3489, 3550],
  '31000': [3617, 3711],
  '32000': [3811, 3829],
  '33000': [3853, 3864],
  '34000': [3881, 3903],
  '35000': [3931, 3965],
  '36000': [4005, 4068],
  '37000': [4137, 4238],
  '38000': [4345, 4399],
  '39000': [4460, 4549],
  '40000': [4644, 4722],
  '41000': [4806, 4843],
  '42000': [4886, 4955],
  '44000': [5030, 5036],
  '45000': [5048, 5095],
  '46000': [5148, 5215],
  '47000': [5288, 5384],
  '48000': [5486, 5741],
  '49000': [6002, 6032],
  '50000': [6068, 6083],
  '51000': [6104, 6256],
  '53000': [6415, 6455],
  '54000': [6501, 6557],
  '55000': [6619, 6692],
  '56000': [6771, 6795]},
 1975: {'01000': [102, 170],
  '02000': [213, 249],
  '04000': [272, 288],
  '05000': [370, 446],
  '06000': [516, 579],
  '08000': [649, 713],
  '09000': [728, 737],
  '10000': [747, 751],
  '11000': [759, 761],
  '12000': [835, 903],
  '13000': [1070, 1231],
  '15000': [1242, 1247],
  '16000': [1298, 1343],
  '17000': [1452, 1555],
  '18000': [1654, 1747],
  '19000': [1854, 1955],
  '20000': [2067, 2173],
  '21000': [2300, 2421],
  '22000': [2500, 2572],
  '23000': [2595, 2612],
  '24000': [2644, 2670],
  '25000': [2691, 2706],
  '26000': [2797, 2882],
  '27000': [2979, 3070],
  '28000': [3160, 3244],
  '29000': [3368, 3486],
  '30000': [3553, 3614],
  '31000': [3714, 3808],
  '32000': [3832, 3850],
  '33000': [3867, 3878],
  '34000': [3906, 3928],
  '35000': [3968, 4002],
  '36000': [4071, 4134],
  '37000': [4241, 4342],
  '38000': [4402, 4456],
  '39000': [4552, 4641],
  '40000': [4725, 4803],
  '41000': [4846, 4883],
  '42000': [4958, 5027],
  '44000': [5039, 5045],
  '45000': [5098, 5145],
  '46000': [5218, 5285],
  '47000': [5387, 5483],
  '48000': [5744, 5999],
  '49000': [6035, 6065],
  '50000': [6086, 6101],
  '51000': [6259, 6412],
  '53000': [6458, 6498],
  '54000': [6560, 6616],
  '55000': [6695, 6768],
  '56000': [6798, 6822]}}

In [51]:
keeprows = [100]
for state in lookup[1975].keys():
    keeprows.extend(list(range(lookup[1975][state][0], lookup[1975][state][1])))
skiprows = [x for x in range(0, 6847) if x not in keeprows]
df_1975 = pd.read_fwf('1970.txt', skiprows = skiprows, delim_whitepace = True)
drop_rows = []
for index, row in df_1975.iterrows():
    # print(row['Code'])
    # print(df_1975.columns)
    # print(row)
    # print(index, row)
    if pd.isnull(row['Code']):
        # print(index, row)
        df_1975.iloc[index - 1,1] = df_1975.iloc[index - 1,1] + ' ' + df_1975.iloc[index,1]
        df_1975.iloc[index - 1,2] = df_1975.iloc[index,2]
        df_1975.iloc[index - 1,3] = df_1975.iloc[index,3]
        df_1975.iloc[index - 1,4] = df_1975.iloc[index,4]
        df_1975.iloc[index - 1,5] = df_1975.iloc[index,5]
        df_1975.iloc[index - 1,6] = df_1975.iloc[index,6]
        drop_rows.append(index)
df_1975.drop(drop_rows, axis = 0, inplace= True)
df_1975['area_fips'] = df_1975['Code'].apply(lambda x: str(int(x)).zfill(5))
df_1975 = df_1975.append({'Code': 0, 'Area Name':  'U.S. Total', '1975':215464000, '1976':217562000, '1977':219759000, '1978':222095000, '1979':224567000,  'area_fips':'USOOO'}, ignore_index = True)
# df_1975.drop(columns = ['Code', 'Area Name'], inplace = True)
df_1975.set_index('area_fips', inplace = True)
df_1975.tail(50)

,Code,Area Name,1975,1976,1977,1978,1979
area_fips,,,,,,,
55093,55093.0,Pierce Co.,29300.0,29800.0,30500.0,30500.0,30800.0
55095,55095.0,Polk Co.,30100.0,30200.0,30300.0,30900.0,31500.0
55097,55097.0,Portage Co.,52400.0,53300.0,54300.0,55700.0,56000.0
55099,55099.0,Price Co.,15600.0,15300.0,15100.0,15100.0,15500.0
55101,55101.0,Racine Co.,173900.0,172300.0,171500.0,171800.0,172300.0
55103,55103.0,Richland Co.,17000.0,16800.0,16500.0,16900.0,17100.0
55105,55105.0,Rock Co.,137700.0,137400.0,137900.0,138100.0,139800.0
55107,55107.0,Rusk Co.,15200.0,15100.0,14900.0,14800.0,15000.0
55109,55109.0,St. Croix Co.,39100.0,39900.0,40700.0,41500.0,42400.0
55111,55111.0,Sauk Co.,42100.0,42100.0,42500.0,42500.0,42900.0
55113,55113.0,Sawyer Co.,11600.0,11800.0,12100.0,12200.0,12600.0
55115,55115.0,Shawano Co.,34400.0,34300.0,34500.0,34800.0,35200.0
55117,55117.0,Sheboygan Co.,100400.0,99900.0,100500.0,100300.0,100700.0
55119,55119.0,Taylor Co.,18000.0,18200.0,18400.0,18400.0,18700.0
55121,55121.0,Trempealeau Co.,25000.0,25000.0,25600.0,25700.0,26000.0
55123,55123.0,Vernon Co.,25400.0,24800.0,25400.0,25400.0,25700.0
55125,55125.0,Vilas Co.,14000.0,14300.0,15400.0,16000.0,16400.0
55127,55127.0,Walworth Co.,66600.0,68400.0,70000.0,70700.0,71300.0
55129,55129.0,Washburn Co.,12300.0,12600.0,12900.0,12800.0,13000.0
55131,55131.0,Washington Co.,74100.0,75100.0,77900.0,80900.0,83000.0
55133,55133.0,Waukesha Co.,246800.0,250800.0,257000.0,267700.0,273900.0
55135,55135.0,Waupaca Co.,40600.0,40500.0,40900.0,41400.0,42400.0
55137,55137.0,Waushara Co.,16600.0,17000.0,17300.0,17600.0,18000.0
55139,55139.0,Winnebago Co.,130400.0,130600.0,130600.0,129900.0,130800.0
55141,55141.0,Wood Co.,68000.0,68600.0,69500.0,70000.0,71000.0
56000,56000.0,Wyoming,380000.0,395000.0,412000.0,431000.0,452000.0
56001,56001.0,Albany Co.,26900.0,27600.0,27900.0,28100.0,28800.0
56003,56003.0,Big Horn Co.,10900.0,11300.0,11400.0,11700.0,11800.0
56005,56005.0,Campbell Co.,13700.0,15300.0,17800.0,20200.0,22100.0
56007,56007.0,Carbon Co.,16800.0,17300.0,18100.0,19100.0,20400.0
56009,56009.0,Converse Co.,7700.0,8800.0,9900.0,11400.0,12500.0
56011,56011.0,Crook Co.,4700.0,4900.0,5000.0,5200.0,5300.0
56013,56013.0,Fremont Co.,31600.0,32400.0,34100.0,36100.0,38200.0
56015,56015.0,Goshen Co.,11700.0,12200.0,12100.0,11900.0,11600.0
56017,56017.0,Hot Springs Co.,4900.0,5200.0,5000.0,5000.0,5400.0
56019,56019.0,Johnson Co.,5700.0,6000.0,6000.0,6300.0,6400.0
56021,56021.0,Laramie Co.,64700.0,65600.0,66300.0,67000.0,69200.0
56023,56023.0,Lincoln Co.,9800.0,10400.0,10800.0,11100.0,11600.0
56025,56025.0,Natrona Co.,56100.0,58600.0,61500.0,65500.0,68400.0
56027,56027.0,Niobrara Co.,2900.0,2900.0,3000.0,3000.0,3000.0
56029,56029.0,Park Co.,18900.0,19500.0,19600.0,20200.0,21000.0
56031,56031.0,Platte Co.,7200.0,7700.0,8200.0,8900.0,10400.0
56033,56033.0,Sheridan Co.,20100.0,21200.0,21800.0,22900.0,24200.0
56035,56035.0,Sublette Co.,3900.0,3900.0,4200.0,4100.0,4300.0
56037,56037.0,Sweetwater Co.,31100.0,32400.0,34700.0,37600.0,39600.0
56039,56039.0,Teton Co.,7100.0,7600.0,8000.0,8800.0,9500.0
56041,56041.0,Uinta Co.,9800.0,9900.0,10400.0,11000.0,11800.0
56043,56043.0,Washakie Co.,8100.0,8400.0,8800.0,8800.0,9100.0
56045,56045.0,Weston Co.,6200.0,6500.0,6800.0,7100.0,7300.0
USOOO,0.0,U.S. Total,215464000.0,217562000.0,219759000.0,222095000.0,224567000.0

In [52]:
df_1975.head(50)

,Code,Area Name,1975,1976,1977,1978,1979
area_fips,,,,,,,
01000,1000.0,Alabama,3680000.0,3737000.0,3783000.0,3834000.0,3869000.0
01001,1001.0,Autauga Co.,29700.0,29900.0,30500.0,30900.0,32100.0
01003,1003.0,Baldwin Co.,67900.0,70200.0,72400.0,74500.0,76600.0
01005,1005.0,Barbour Co.,24900.0,25600.0,24700.0,24500.0,24400.0
01007,1007.0,Bibb Co.,14800.0,14800.0,15300.0,15400.0,15600.0
01009,1009.0,Blount Co.,32200.0,33000.0,34200.0,34800.0,36000.0
01011,1011.0,Bullock Co.,11100.0,11100.0,11000.0,11000.0,10800.0
01013,1013.0,Butler Co.,21200.0,21400.0,20900.0,20900.0,21200.0
01015,1015.0,Calhoun Co.,107000.0,112800.0,112800.0,116500.0,116700.0
01017,1017.0,Chambers Co.,37500.0,37900.0,38400.0,38700.0,39300.0
01019,1019.0,Cherokee Co.,18100.0,18600.0,18400.0,18600.0,18600.0
01021,1021.0,Chilton Co.,28600.0,29100.0,29300.0,29900.0,30500.0
01023,1023.0,Choctaw Co.,17200.0,17400.0,17300.0,16900.0,16900.0
01025,1025.0,Clarke Co.,27400.0,27900.0,28200.0,28400.0,27600.0
01027,1027.0,Clay Co.,13200.0,13400.0,13300.0,13700.0,13900.0
01029,1029.0,Cleburne Co.,12000.0,12100.0,12100.0,12200.0,12600.0
01031,1031.0,Coffee Co.,36500.0,37000.0,37400.0,37500.0,37800.0
01033,1033.0,Colbert Co.,52100.0,52100.0,53100.0,53300.0,54100.0
01035,1035.0,Conecuh Co.,15800.0,15500.0,15400.0,15800.0,15900.0
01037,1037.0,Coosa Co.,11500.0,11200.0,11500.0,11700.0,11600.0
01039,1039.0,Covington Co.,36200.0,36200.0,36300.0,36500.0,37100.0
01041,1041.0,Crenshaw Co.,13900.0,13900.0,13900.0,13900.0,14100.0
01043,1043.0,Cullman Co.,58100.0,59700.0,60400.0,61100.0,61500.0
01045,1045.0,Dale Co.,46100.0,44900.0,44700.0,46700.0,46400.0
01047,1047.0,Dallas Co.,58400.0,58200.0,58200.0,54700.0,54500.0
01049,1049.0,DeKalb Co.,50000.0,51200.0,52000.0,53100.0,53500.0
01051,1051.0,Elmore Co.,39700.0,39700.0,40500.0,41400.0,43000.0
01053,1053.0,Escambia Co.,38300.0,37600.0,37500.0,37600.0,37900.0
01055,1055.0,Etowah Co.,97900.0,99000.0,100200.0,101700.0,102900.0
01057,1057.0,Fayette Co.,17400.0,17400.0,17500.0,17800.0,18300.0
01059,1059.0,Franklin Co.,26800.0,27200.0,27700.0,27900.0,28800.0
01061,1061.0,Geneva Co.,23200.0,23200.0,23400.0,23600.0,23900.0
01063,1063.0,Greene Co.,10700.0,11000.0,10800.0,11000.0,10800.0
01065,1065.0,Hale Co.,15700.0,15700.0,15800.0,15700.0,15900.0
01067,1067.0,Henry Co.,14300.0,14600.0,14700.0,14900.0,15000.0
01069,1069.0,Houston Co.,70600.0,71900.0,72800.0,74300.0,74700.0
01071,1071.0,Jackson Co.,47000.0,48100.0,49700.0,51000.0,51600.0
01073,1073.0,Jefferson Co.,655300.0,661300.0,663600.0,667400.0,671700.0
01075,1075.0,Lamar Co.,16000.0,16100.0,16100.0,16100.0,16200.0
01077,1077.0,Lauderdale Co.,74300.0,75800.0,77100.0,78500.0,80500.0
01079,1079.0,Lawrence Co.,28600.0,29200.0,29600.0,30100.0,30300.0
01081,1081.0,Lee Co.,69400.0,70000.0,71900.0,74100.0,76000.0
01083,1083.0,Limestone Co.,44000.0,44400.0,44500.0,44900.0,45000.0
01085,1085.0,Lowndes Co.,13400.0,13500.0,13800.0,13900.0,13300.0
01087,1087.0,Macon Co.,26200.0,26700.0,27100.0,27000.0,26600.0
01089,1089.0,Madison Co.,188200.0,190200.0,192500.0,193200.0,194900.0
01091,1091.0,Marengo Co.,24600.0,25200.0,25400.0,25400.0,25300.0
01093,1093.0,Marion Co.,28500.0,28600.0,29100.0,29500.0,29800.0
01095,1095.0,Marshall Co.,61100.0,62100.0,63500.0,65000.0,65000.0
01097,1097.0,Mobile Co.,335200.0,344900.0,353100.0,360100.0,361700.0

urllib.request.urlretrieve('https://www2.census.gov/programs-surveys/popest/tables/1980-1990/counties/totals/e8089co.txt', '1980.txt')
import fileinput

lookup = {1980:{}, 1985:{}}
with fileinput.FileInput('1980.txt', backup='.bak') as file:
    for line in file:
        if file.lineno() < 24:
            continue
        elif line[26:30] == ' 198':
            year = int(line[27:31])
        elif line[0:5] == '00000':
            lookup[year]['00000'] = [file.lineno() - 1, file.lineno()]
        elif line[2:5] == '000':
            current_state = line[0:5]
            lookup[year][current_state] = [file.lineno() - 1]
        elif len(line) == 1:
            lookup[year][current_state].append(file.lineno() - 1)
            current_state = 'error'

lookup[1985]['56000'].append(6847)



        # elif len(line) == 1:
        #     dct[holder][1] =  

lookup
        # elif len(line) < 24:
        #     print(len(line))

#         if file.lineno() <= 23:
#             print(line)
#         elif len(line) == 1:
#             print(line)
#         elif len(line) < 30:
#             print(line.replace('/n', ''), end='')
#         else:
#             print(line)
        
        # print(file.lineno(), ' ', len(line))
        # # if len(line) > 22:
        # #     print(line.replace('/n', ''), end='')

In [ ]:
# df_1990 = pd.read_table('1990.txt', skiprows = skiprows, delimiter= '  ', skipinitialspace= True, header = None)
# df_1990

In [ ]:
df_1985.to_csv('troubeshooting.csv')