In [1]:
import os
import urllib.request 
import cpi
os.chdir('/home/cj/Documents/dsi/capstones/report-card-recession')
from src.produce_datasets import *

In [2]:
df = pd.read_json('data/timelines/basic/area/wage/area_wage_2001.json')

In [3]:
for col in df.columns[2:]:
    # print(col + '_i')
    newcol = col + '_i'
    df[newcol] = cpi.inflate(df[col], int(float(col)), 2000)
    df.drop(columns = [col], inplace = True)
    df.rename(columns = {newcol:float(col)}, inplace = True)
df

TypeError: drop() got an unexpected keyword argument 'inplade'

In [4]:
int(float('2002.0') - .25)

2001