In [1]:
import os
import urllib.request 
import cpi
os.chdir('/home/cj/Documents/dsi/capstones/report-card-recession')
from src.produce_datasets import *

In [2]:
df = pd.read_json('data/timelines/basic/area/wage/area_wage_2001.json')

In [3]:
for col in df.columns[2:]:
    # print(col + '_i')
    newcol = col + '_i'
    df[newcol] = cpi.inflate(df[col], int(float(col)- 0.25), 2000)
    df.drop(columns = [col], inplace = True)
    df.rename(columns = {newcol:float(col)}, inplace = True)
df

,area_fips,area_title,2000.25,2000.5,2000.75,2001.0,2001.25,2001.5,2001.75,2002.0,...,2005.75,2006.0,2006.25,2006.5,2006.75,2007.0,2007.25,2007.5,2007.75,2008.0
0,01000,Alabama -- Statewide,3683,3661,3813,3887,3750.284585,3741.533597,3733.754941,3997.256917,...,4074.430108,4154.666667,4013.729167,3978.708333,4041.916667,4264.854167,4076.152444,4024.660706,4170.830801,4344.407790
1,01001,"Autauga County, Alabama",2604,2569,2626,2757,2648.632411,2630.158103,2651.549407,2723.501976,...,2647.806452,2692.774194,2655.604167,2588.125000,2763.229167,2776.895833,2723.248546,2722.418034,2683.383974,2960.774952
2,01003,"Baldwin County, Alabama",2478,2436,2534,2667,2532.924901,2572.790514,2599.043478,2685.581028,...,2754.494624,2936.129032,2781.166667,2799.958333,2797.395833,3016.916667,2739.028272,2834.537142,2750.655439,3104.453512
3,01005,"Barbour County, Alabama",2435,2354,2382,2546,2457.083004,2439.581028,2363.739130,2525.146245,...,2469.698925,2705.118280,2552.250000,2530.895833,2520.645833,2678.666667,2524.756200,2544.688486,2430.908354,2835.367653
4,01007,"Bibb County, Alabama",2303,2367,2435,2493,2317.067194,2427.913043,2436.664032,2579.596838,...,2542.881720,2831.204301,2534.312500,2689.770833,2623.145833,3021.187500,2727.401105,2799.655641,2711.621379,3096.148393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4346,CS566,"Youngstown-Warren, OH-PA CSA",549,525,531,557,531.865613,514.363636,527.003953,554.229249,...,540.494624,564.301075,531.291667,522.750000,545.812500,581.687500,566.409121,529.036085,518.239431,563.087074
4347,US000,U.S. TOTAL,4938,4810,4865,5076,5005.565217,4901.525692,4820.822134,5103.770751,...,5176.580645,5292.967742,5205.291667,5089.125000,5104.500000,5334.270833,5261.292936,5187.377377,5144.190757,5449.819139
4348,USCMS,U.S. Combined Statistical Areas (combined),759,711,719,784,769.114625,712.719368,704.940711,771.059289,...,740.645161,792.666667,792.666667,724.333333,723.479167,800.354167,813.071158,736.664062,734.172527,811.410134
4349,USMSA,U.S. Metropolitan Statistical Areas (combined),720,679,686,746,727.304348,681.604743,674.798419,735.083004,...,710.666667,756.516129,749.958333,693.583333,693.583333,764.479167,765.731979,705.104610,703.443586,773.206586
4350,USNMS,U.S. Nonmetropolitan Area Counties (combined),524,516,516,555,527.976285,519.225296,514.363636,550.339921,...,544.903226,570.473118,549.229167,536.416667,536.416667,579.979167,558.104002,548.137859,545.646323,590.493966

In [4]:
int(float('2002.0') - .25)

2001

In [5]:
df_check = pd.read_json('data/timelines/basic/area/wage/area_wage_2001.json')

In [6]:
df

,area_fips,area_title,2000.25,2000.5,2000.75,2001.0,2001.25,2001.5,2001.75,2002.0,...,2005.75,2006.0,2006.25,2006.5,2006.75,2007.0,2007.25,2007.5,2007.75,2008.0
0,01000,Alabama -- Statewide,3683,3661,3813,3887,3750.284585,3741.533597,3733.754941,3997.256917,...,4074.430108,4154.666667,4013.729167,3978.708333,4041.916667,4264.854167,4076.152444,4024.660706,4170.830801,4344.407790
1,01001,"Autauga County, Alabama",2604,2569,2626,2757,2648.632411,2630.158103,2651.549407,2723.501976,...,2647.806452,2692.774194,2655.604167,2588.125000,2763.229167,2776.895833,2723.248546,2722.418034,2683.383974,2960.774952
2,01003,"Baldwin County, Alabama",2478,2436,2534,2667,2532.924901,2572.790514,2599.043478,2685.581028,...,2754.494624,2936.129032,2781.166667,2799.958333,2797.395833,3016.916667,2739.028272,2834.537142,2750.655439,3104.453512
3,01005,"Barbour County, Alabama",2435,2354,2382,2546,2457.083004,2439.581028,2363.739130,2525.146245,...,2469.698925,2705.118280,2552.250000,2530.895833,2520.645833,2678.666667,2524.756200,2544.688486,2430.908354,2835.367653
4,01007,"Bibb County, Alabama",2303,2367,2435,2493,2317.067194,2427.913043,2436.664032,2579.596838,...,2542.881720,2831.204301,2534.312500,2689.770833,2623.145833,3021.187500,2727.401105,2799.655641,2711.621379,3096.148393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4346,CS566,"Youngstown-Warren, OH-PA CSA",549,525,531,557,531.865613,514.363636,527.003953,554.229249,...,540.494624,564.301075,531.291667,522.750000,545.812500,581.687500,566.409121,529.036085,518.239431,563.087074
4347,US000,U.S. TOTAL,4938,4810,4865,5076,5005.565217,4901.525692,4820.822134,5103.770751,...,5176.580645,5292.967742,5205.291667,5089.125000,5104.500000,5334.270833,5261.292936,5187.377377,5144.190757,5449.819139
4348,USCMS,U.S. Combined Statistical Areas (combined),759,711,719,784,769.114625,712.719368,704.940711,771.059289,...,740.645161,792.666667,792.666667,724.333333,723.479167,800.354167,813.071158,736.664062,734.172527,811.410134
4349,USMSA,U.S. Metropolitan Statistical Areas (combined),720,679,686,746,727.304348,681.604743,674.798419,735.083004,...,710.666667,756.516129,749.958333,693.583333,693.583333,764.479167,765.731979,705.104610,703.443586,773.206586
4350,USNMS,U.S. Nonmetropolitan Area Counties (combined),524,516,516,555,527.976285,519.225296,514.363636,550.339921,...,544.903226,570.473118,549.229167,536.416667,536.416667,579.979167,558.104002,548.137859,545.646323,590.493966