In [1]:
import os
import urllib.request 
os.chdir('/home/cj/Documents/dsi/capstones/report-card-recession')
from src.produce_datasets import *

In [2]:
dimension = 'area'
recession = 2001
variable = 'empl'

In [3]:
years = RECESSION_YEARS[recession]
years

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007]

In [4]:
years.append(min(years) - 1)
years.sort()
years

[1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007]

In [5]:
df = import_all(years, dimension)
if dimension == 'area':
        df = df[~df['area_fips'].str.contains("999")]
        index = ['area_fips', 'area_title']
elif dimension == 'industry':
        index = ['industry_code', 'industry_title']
        #correct for changes in NAICS classification
        df['industry_title'] = df['industry_code'].apply(lambda x: TITLE[x])
df = df.pivot_table(columns = 'qtrid', values = VARNAME_LONG[variable], index = index, aggfunc = np.sum)
df = df.reset_index()
    
        #fill nans
df = df.fillna(0)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4351 entries, 0 to 4350
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_fips   4351 non-null   object
 1   area_title  4351 non-null   object
 2   1999.25     4351 non-null   float64
 3   1999.5      4351 non-null   float64
 4   1999.75     4351 non-null   float64
 5   2000.0      4351 non-null   float64
 6   2000.25     4351 non-null   float64
 7   2000.5      4351 non-null   float64
 8   2000.75     4351 non-null   float64
 9   2001.0      4351 non-null   float64
 10  2001.25     4351 non-null   float64
 11  2001.5      4351 non-null   float64
 12  2001.75     4351 non-null   float64
 13  2002.0      4351 non-null   float64
 14  2002.25     4351 non-null   float64
 15  2002.5      4351 non-null   float64
 16  2002.75     4351 non-null   float64
 17  2003.0      4351 non-null   float64
 18  2003.25     4351 non-null   float64
 19  2003.5      4351 non-null   float64
 20  2003.75     4351 non-null   float64
 21  2004.0      4351 non-null   float64
 22  2004.25     4351 non-null   float64
 23  2004.5      4351 non-null   float64
 24  2004.75     4351 non-null   float64
 25  2005.0      4351 non-null   float64
 26  2005.25     4351 non-null   float64
 27  2005.5      4351 non-null   float64
 28  2005.75     4351 non-null   float64
 29  2006.0      4351 non-null   float64
 30  2006.25     4351 non-null   float64
 31  2006.5      4351 non-null   float64
 32  2006.75     4351 non-null   float64
 33  2007.0      4351 non-null   float64
 34  2007.25     4351 non-null   float64
 35  2007.5      4351 non-null   float64
 36  2007.75     4351 non-null   float64
 37  2008.0      4351 non-null   float64
dtypes: float64(36), object(2)
memory usage: 1.3+ MB

In [10]:
# drop_cols = []
# for col in df.columns[2:6]:
#     drop_cols.append(col)
# drop_cols

drop_cols = list(df.columns[2:6])
drop_cols

[2000.25, 2000.5, 2000.75, 2001.0]

In [7]:
from statistics import mean

In [8]:
for col in df.columns[6:]:
    newcol =  str(col) + '_s'
    index = df.columns.get_loc(col)
    interval = df.iloc[:,(index-3):index]
    df[newcol] = interval.mean(axis=1)
    df.drop(columns = [col], inplace = True)
    df.rename(columns = {newcol:float(col)}, inplace = True)
df.drop(columns = list(df.columns[2:6]), inplace = True)
df

qtrid,area_fips,area_title,2000.25,2000.5,2000.75,2001.0,2001.25,2001.5,2001.75,2002.0,...,2005.75,2006.0,2006.25,2006.5,2006.75,2007.0,2007.25,2007.5,2007.75,2008.0
0,01000,Alabama -- Statewide,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,...,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06,4.105999e+06
1,01001,"Autauga County, Alabama",2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,...,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04,2.126800e+04
2,01003,"Baldwin County, Alabama",9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,...,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04,9.723667e+04
3,01005,"Barbour County, Alabama",2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,...,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04,2.335333e+04
4,01007,"Bibb County, Alabama",7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,...,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03,7.812000e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4346,CS566,"Youngstown-Warren, OH-PA CSA",2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,...,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05,2.944950e+05
4347,US000,U.S. TOTAL,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,...,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08,4.031000e+08
4348,USCMS,U.S. Combined Statistical Areas (combined),8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,...,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07,8.224565e+07
4349,USMSA,U.S. Metropolitan Statistical Areas (combined),1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,...,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08,1.084332e+08
4350,USNMS,U.S. Nonmetropolitan Area Counties (combined),2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,...,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07,2.029203e+07

In [9]:
df.columns

Index([ 'area_fips', 'area_title',      2000.25,       2000.5,      2000.75,
             2001.0,      2001.25,       2001.5,      2001.75,       2002.0,
            2002.25,       2002.5,      2002.75,       2003.0,      2003.25,
             2003.5,      2003.75,       2004.0,      2004.25,       2004.5,
            2004.75,       2005.0,      2005.25,       2005.5,      2005.75,
             2006.0,      2006.25,       2006.5,      2006.75,       2007.0,
            2007.25,       2007.5,      2007.75,       2008.0],
      dtype='object', name='qtrid')